html, body, #drawing {
    margin: 0 auto 5em;
    height: 90%;
    width: 90%;
}

form {
  border: solid #aaa 1px;
  padding: 1em;
}

#admin-settings {
  display: none;
}

#templates {
  display: none;
}
#templates li{
  display: inline;
}
.template-image {
  width: auto;
  max-height: 130px;
}
